0-Data/nke-10k-2023.pdf
temp/*

Lang-Chain-Docs/cookbook/*
Lang-Chain-Docs/docs/*
3-Integration/3-Embeddings/cache/*
3-Integration/4-Vector-Stores/chroma_db
3-Integration/4-Vector-Stores/faiss_index
3-Integration/3-Embeddings/faiss_pdf_index/*
3-Integration/4-Vector-Stores/sqliteVec.db
